.Board {
    background-color: #cfcfcf;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.Board .Board__Title {
    text-align: center;
    height: 20px;
}

.Board .Board__Item_Wrapper {
    overflow-y: scroll;
    height: 120px;
}